footer {
  align-items: center;
  color: rgba(10, 10, 10, 0.925);

  ol {
    
    overflow:hidden ;
    list-style: none;
    display: flex;
    
    justify-content: center;

    li {
      margin: 0 3px ;
    }

  }
}