.bloc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .img-main {
      height: 200px;
      width: auto;
    }
    h1 {
      font-weight: 900;
      padding-bottom: 40px;
    }
  }
  
  .shopping_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
  
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .legend {
      height: fit-content;
      width: 90vw;
      display: grid;
      grid-template-columns: 8px 90px 1fr 69px 61px 60px;
  
      align-content: center;
      justify-content: center;
  
      font-weight: 700;
      p {
        text-align: center;
      }
    }
  
    .legend-middle {
      font-weight: 300;
      display: flex;
      text-align: center;
    }
    
    .legend-bottom {
      color: white;
    }
  
    .emptylist {
      /* background: red; */
      display: flex;
      flex-direction: row;
  
      align-items: center;
      height: 30px;
  
      .arrowdown {
        border-color: transparent;
        border-style: solid;
        border-width: 0 12px;
  
        opacity: 0.4;
  
        transform-origin: 50% 50%;
  
        animation: downarrow 0.6s infinite alternate ease-in-out;
        border-top: 15px solid #14357e;
      }
      p {
        margin-left: 12px;
        padding-top: 5px;
      }
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      width: 100%;
    }
  
    .hr {
      background: #ecebeb;
      width: 90vw;
      height: 1px;
      margin: 5px 0 15px 0;
    }
  }
  