.overlay {
  
    width: 300px;
  
    .btn{
    width: 100px;
    height: 40px;
    }
  
    form {
      height: 40px;
      margin-top: 15px;
      
      display: grid;
      grid-template-columns:  1fr 70px max-content ;
      
      align-items: center;
      justify-content: center;
      font-size: 13px;
  
      input[type="text"] {
        height: 36px;
        background: rgb(224, 223, 223);
        border: 1px solid rgb(197, 197, 197);
        border-radius: 8px;
        padding-left: 5px;
        margin: 0 3px;
      }
  
     
    }

}

.overlay-dropzone{

  div{
    cursor: pointer;
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    border: 2px dashed rgb(192, 192, 192);
    background: none;
  }
  div:hover{
    background-color: #ebebeb;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .dropzone {
    margin: 20px;
    background: rgb(251, 251, 251);
  
    border-radius: 15px;
    border-style: inset;
    border: 2px rgb(187, 187, 187) dashed;
    height: 20vh;
    width: 50vw;
  
    color: rgb(187, 187, 187);
  
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .dropzone:hover {
    //border-style: inset;
    background: white;
  }
  
  
}