.filter-sort {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;

  border: 1px solid #ecebeb;
  padding: 10px;

  margin-bottom: 20px;
  font-size: 12px;

  .sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(109, 109, 109);

    .sort-label {
      display: none;
    }

    .box-sort:before {
      position: relative;
      top: 2px;
      left: 0;
      margin: 0 5px;
    }

    .box-sort:after {
      margin: 0 7px;
      content: "|";
      color: #ecebeb;
    }

    .box-sort {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 0 2px;

      p {
        text-align: center;
        margin-left: 15px;
        font-size: 12px;
      }
    }
  }
}

.filter:before {
  position: relative;
  top: 2px;
  left: 0;
  margin: 0 5px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  p {
    font-size: 12px;
  }

  .slider {
    transform: scale(0.7);
    margin-top: 3px;
  }
}
