.body{

    overflow-x: hidden;
}
.App{
    font-family: 'Noto Sans', sans-serif;
    display: grid;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);  
    
}

header, footer{
    
    height:100%;
}

main{
   
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#title{
    text-align: center;
    font-size: 30px;
}

 a{
    text-decoration: inherit;
     font-weight: bolder;
     color: inherit;
    a:active, a:visited{
          
    }

 }